/* Wofi Catppuccin Mocha Theme */

window {
  margin: 0px;
  border: 2px solid #89b4fa;
  border-radius: 10px;
  background-color: #1e1e2e;
  font-family: "JetBrains Mono Nerd Font";
}

#input {
  margin: 5px;
  border: 2px solid #45475a;
  border-radius: 5px;
  color: #cdd6f4;
  background-color: #313244;
  font-size: 14px;
}

#input:focus {
  border-color: #89b4fa;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #cdd6f4;
}

#entry {
  border-radius: 5px;
}

#entry:selected {
  background-color: #45475a;
}

#entry:selected #text {
  color: #89b4fa;
}
